<h2>Calculatrice</h2>

<p>
  <button (click)="random1()">Générer un nombre</button>
  <span>{{ number1 }}</span>
</p>

<p>
  <button (click)="random2()">Générer un nombre</button>
  <span>{{ number2 }}</span>
</p>

<p>
  <button (click)="insertPlus()">+</button>
  <button (click)="insertMoins()">-</button>
  <button (click)="insertMultipliate()">*</button>
  <button (click)="insertDivide()">/</button>
  <span>{{ operator }}</span>
</p>

<p>
  <button (click)="calculateResult()">Calculer</button>
  <span>{{ result }}</span>
</p>
<p>
  <button (click)="clearValues()">Clear</button>
</p>
